@keyframes fire{
    from{transform:scaleY(1)}
    to{transform:scaleY(0.6)}
}


@keyframes speed{
    from{transform:scaleX(0)}
    to{transform:scaleX(1)}
}

@keyframes shoot{
    from{bottom: 25vh;}
    to{bottom: 105vh;}
}

@keyframes ballSelected{
    from{
        width: 10px;
        height: 7px;
    }
    to{
        width: 15px;
        height: 15px;
    }
}


@keyframes meteor{
    from{top: -10vh;}
    to{top: 110vh;}
}