@keyframes fire {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0.6);
    }
}

@keyframes speed {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes shoot {
    from {
        bottom: 25vh;
    }
    to {
        bottom: 105vh;
    }
}

@keyframes ballSelected {
    from {
        width: 10px;
        height: 7px;
    }
    to {
        width: 15px;
        height: 15px;
    }
}

@keyframes meteor {
    from {
        top: -10vh;
        transform: rotate(0deg);
    }
    to {
        top: 110vh;
        transform: rotate(360deg);
    }
}

@keyframes explodeMeteor {
    0% {
        width: 10%;
        height: 10%;
        transform: scale(0.1) translateY(0px);
        opacity: 1;
        box-shadow: 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white,
            0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white,
            0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white;
    }

    // 50%{
    //     opacity: 0.5;
    //     box-shadow:
    //     -38px 0px 1px -15px white,
    //     38px 0px 1px -15px white,
    //     0px 38px 1px -15px white,
    //     0px -38px 1px -15px white,
    //     28px -30px 1px -15px white,
    //     28px 30px 1px -15px white,
    //     -28px -30px 1px -15px white,
    //     -28px 30px 1px -15px white;
    // }
    80% {
        width: 40%;
        height: 40%;
        transform: scale(1.1) translateY(50px);
        opacity: 1;
        box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,
            0px -38px 1px -10px white, 28px -30px 1px -10px white, 28px 30px 1px -10px white,
            -30px -32px 1px -10px white, -30px 32px 1px -10px white, -18px 20px 1px -20px white,
            18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white;
    }

    100% {
        width: 10%;
        height: 10%;
        transform: scale(1.5);
        opacity: 0;
        box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,
            0px -38px 1px -10px white, 28px -30px 1px -10px white, 28px 30px 1px -10px white,
            -30px -32px 1px -10px white, -30px 32px 1px -10px white, -18px 20px 1px -20px white,
            18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(80px);
        clip-path: polygon(
            0% 16%,
            17% 0%,
            33% 6%,
            29% 13%,
            19% 20%,
            31% 32%,
            42% 24%,
            47% 16%,
            60% 19%,
            64% 27%,
            62% 39%,
            80% 29%,
            77% 11%,
            74% 6%,
            91% 0%,
            100% 11%,
            100% 26%,
            93% 36%,
            82% 28%,
            61% 40%,
            79% 54%,
            97% 56%,
            100% 61%,
            100% 76%,
            92% 94%,
            78% 95%,
            66% 82%,
            72% 66%,
            75% 51%,
            62% 41%,
            47% 75%,
            29% 66%,
            32% 48%,
            33% 39%,
            32% 32%,
            17% 46%,
            18% 69%,
            29% 84%,
            28% 99%,
            13% 98%,
            3% 89%,
            9% 79%,
            18% 65%,
            17% 47%,
            6% 41%,
            6% 33%,
            17% 29%,
            23% 24%,
            18% 21%
        );
    }
}

@keyframes damage {
    0% {
        opacity: 0.7;
        bottom: 15vh;
    }
    100% {
        opacity: 0.2;
        bottom: 14vh;
    }
}

@keyframes smoke {
    0% {
        box-shadow: 
        0px 0px 0 0px #383737,
        0px 0px 0 0px #383737, 
        0px 0px 0px 0px #383737,
        0px 0px 1px 0px #383737, 
        0px 0px 0 0px #383737;
    }

    70% {
        box-shadow: 
        6px 14px 0 -4px #1b1a1a, 
        -4px 21px 0 -5px #1b1a1a, 
        -4px 46px 0px -8px #1b1a1a,
        -2px 34px 1px -5px #1b1a1a, 
        1px 55px 0 -10px #1b1a1a;
    }
    100% {
        box-shadow: 
        7px 24px 0 -14px #1b1a1a, 
        -5px 31px 0 -10px #1b1a1a, 
        -5px 56px 0px -18px #1b1a1a,
        1px 44px 1px -10px #1b1a1a, 
        1px 65px 0 -20px #1b1a1a;
    }
}



@keyframes laserContainer {
    0%{top: -20vh;}
    100%{top: 110vh;}
}


@keyframes laser1{
    0%{
        clip-path: polygon(100% 19%, 66% 0, 85% 18%, 0 0, 69% 20%, 0 19%, 85% 26%, 53% 32%, 81% 35%, 20% 48%, 81% 41%, 0 67%, 85% 50%, 28% 74%, 85% 57%, 20% 100%, 81% 73%, 65% 100%, 90% 70%, 82% 100%, 92% 81%, 100% 100%);
    }
    100%{
        clip-path: polygon(100% 19%, 86% 0, 98% 26%, 61% 9%, 91% 29%, 57% 20%, 94% 35%, 71% 33%, 100% 43%, 67% 41%, 94% 47%, 78% 51%, 94% 58%, 71% 64%, 88% 64%, 68% 76%, 81% 73%, 65% 88%, 94% 68%, 80% 91%, 96% 76%, 100% 100%);
    }
}



@keyframes enemyLaser{
    0%{
        left: -50vw;
        transform: rotate(0deg);
    }
    100%{
        left: 150vw;
        transform: rotate(720deg);
    }
}


@keyframes appearsBoss{
    0%{top:-50vh;}
    100%{top:6vh;}
}

@keyframes turningLightsOn{
    0%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes laserOpen1{
    0%{height: 100%;}
    100%{height: 94vh;}
}
@keyframes laserOpen2{
    0%{width: 100%;}
    100%{width: 100vw;}
}

@keyframes laserMove1{
    0%{transform: translateX(0vw);}
    20%{transform: translateX(-50vw);}
    80%{transform: translateX(50vw);}
    100%{transform: translateX(0vw);}
}

@keyframes laserMove2{
    0%{transform: translateY(0vh);}
    10%{transform: translateY(-20vh);}
    60%{transform: translateY(80vh);}
    100%{transform: translateY(0vh);}
}

@keyframes rotateBossShield{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}






@keyframes brokenShield{
    0%{
        clip-path: polygon(0 100%, 0 0, 100% 0, 62% 39%, 70% 74%, 35% 67%);
        
    }
    99%{
        clip-path: polygon(0 100%, 0 54%, 31% 67%, 0% 32%, 1% 1%, 15% 10%, 0 31%, 23% 45%, 57% 54%, 20% 24%, 51% 15%, 34% 0, 77% 0%, 63% 22%, 49% 13%, 46% 33%, 54% 53%, 77% 58%, 90% 61%, 93% 82%, 82% 69%, 76% 84%, 60% 92%, 54% 83%, 76% 83%, 56% 50%, 29% 66%, 27% 84%, 13% 79%);
        height: 80px;
        width: 80px;
    }

}


@keyframes laserClose1{
    0%{
        height: 100%;
    }
    100%{
        height: 10%;
    }
}

@keyframes laserClose2{
    0%{
        width: 100%;
    }
    100%{
        width: 10%;
    }
}

@keyframes bossXplode1{
    0%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    80%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    100%{
        width: 700%;
        height: 700%;
        opacity: 0;
    }
}

@keyframes bossXplode2{
    0%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }

    100%{
        width: 300%;
        height: 30%;
        opacity: 0;
    }
}