.game-container{
    background-color: $bg;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    overflow: hidden;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}