.meteorite{
    width: 50px;
    height: 50px;
    background-color: $red;
    position: absolute;
    top: 0vh;
    clip-path: polygon(46% 0, 88% 10%, 100% 39%, 96% 84%, 58% 99%, 15% 91%, 0 57%, 6% 19%);
    // justify-self: center;
    animation: meteor 10s;
}