@keyframes fire{
    from{transform:scaleY(1)}
    to{transform:scaleY(0.6)}
}


@keyframes speed{
    from{transform:scaleX(0)}
    to{transform:scaleX(1)}
}

@keyframes shoot{
    from{bottom: 25vh;}
    to{bottom: 105vh;}
}

@keyframes ballSelected{
    from{
        width: 10px;
        height: 7px;
    }
    to{
        width: 15px;
        height: 15px;
    }
}


@keyframes meteor{
    from{
        top: -10vh;
        transform: rotate(0deg);
    }
    to{
        top: 110vh;
        transform: rotate(360deg);
    }
}

@keyframes explodeMeteor {
            0%{
                
                width: 10%;
                height: 10%;
                transform: scale(0.1) translateY(0px);
                opacity: 1;
                box-shadow: 
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white,
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white, 
                0px 0px 1px 20px white,
                0px 0px 1px 20px white,
                0px 0px 1px 20px white,
                0px 0px 1px 20px white,
                0px 0px 1px 20px white;
            }
          
            // 50%{
            //     opacity: 0.5;
            //     box-shadow: 
            //     -38px 0px 1px -15px white, 
            //     38px 0px 1px -15px white, 
            //     0px 38px 1px -15px white, 
            //     0px -38px 1px -15px white, 
            //     28px -30px 1px -15px white,
            //     28px 30px 1px -15px white, 
            //     -28px -30px 1px -15px white, 
            //     -28px 30px 1px -15px white;
            // }
            80%{
                
                width: 40%;
                height: 40%;
                transform: scale(1.1) translateY(50px);
                opacity: 1;
                box-shadow: 
                -38px 0px 1px -10px white,
                38px 0px 1px -10px white, 
                0px 38px 1px -10px white, 
                0px -38px 1px -10px white, 
                28px -30px 1px -10px white,
                28px 30px 1px -10px white, 
                -30px -32px 1px -10px white, 
                -30px 32px 1px -10px white,
                -18px 20px 1px -20px white,
                18px -20px 1px -17px white,
                -18px -20px 1px -20px white,
                18px 20px 1px -17px white;
            }

            100%{
                width: 10%;
                height: 10%;
                transform: scale(1.5);
                opacity: 0;
                box-shadow: 
                -38px 0px 1px -10px white,
                38px 0px 1px -10px white, 
                0px 38px 1px -10px white, 
                0px -38px 1px -10px white, 
                28px -30px 1px -10px white,
                28px 30px 1px -10px white, 
                -30px -32px 1px -10px white, 
                -30px 32px 1px -10px white,
                -18px 20px 1px -20px white,
                18px -20px 1px -17px white,
                -18px -20px 1px -20px white,
                18px 20px 1px -17px white;
            }
        }


        @keyframes fadeOut{
            0%{
                opacity: 1;
                transform: translateY(0px);
            }
            100%{
                opacity: 0;
                transform: translateY(80px);
                clip-path: polygon(0% 16%, 17% 0%, 33% 6%, 29% 13%, 19% 20%, 31% 32%, 42% 24%, 47% 16%, 60% 19%, 64% 27%, 62% 39%, 80% 29%, 77% 11%, 74% 6%, 91% 0%, 100% 11%, 100% 26%, 93% 36%, 82% 28%, 61% 40%, 79% 54%, 97% 56%, 100% 61%, 100% 76%, 92% 94%, 78% 95%, 66% 82%, 72% 66%, 75% 51%, 62% 41%, 47% 75%, 29% 66%, 32% 48%, 33% 39%, 32% 32%, 17% 46%, 18% 69%, 29% 84%, 28% 99%, 13% 98%, 3% 89%, 9% 79%, 18% 65%, 17% 47%, 6% 41%, 6% 33%, 17% 29%, 23% 24%, 18% 21%);
            }
        }


        @keyframes damage{
            0%{
                opacity: 0.7;
                bottom: 15vh;
            }
            100%{
                opacity: 0.2;
                bottom: 14vh;
            }
        }
 
$bg: #2d2d47;
$ship: rgb(202, 202, 202);
$neon-blue: #18ffff;
$red: rgb(255, 71, 71);
$yellow: rgb(241, 217, 81);
$green: rgb(78, 235, 91);
$blue: rgb(71, 187, 255);
$fire: rgb(255, 175, 71);

:root {
    --ship-shadow: darken(rgb(202, 202, 202), 10%);
}

@mixin colorShip($main, $fireColor) {
    .ship-body {
        background-color: $main;
        &::after {
            background-color: darken($main, 10%);
        }
    }
    .ship-R-wing {
        background-color: $main !important;
    }
    .ship-L-wing {
        background-color: darken($main, 10%) !important;
    }
    .ship-fire {
        background-color: $fireColor;
        &::after {
            background-color: lighten($fireColor, 10%);
        }
    }

    .shoot{
        &::after{
            background-color: lighten($main, 5%);
        }
        &::before{
            background-color: lighten($main, 5%);
        }
    }
}

html[color="red"] {
    @include colorShip($red, #00DB36);
}
html[color="yellow"] {
    @include colorShip($yellow, #00A8DB);
}
html[color="blue"] {
    @include colorShip($blue, $fire);
}
html[color="green"] {
    @include colorShip($green, #FF1962);
}

 
.game-container{
    background-color: $bg;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    overflow: hidden;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
 
.meteorite {
    width: 50px;
    height: 50px;
    top: 10vh;
    animation: meteor 10s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        clip-path: polygon(46% 0, 88% 10%, 100% 39%, 96% 84%, 58% 99%, 15% 91%, 0 57%, 6% 19%);
        // justify-self: center;
    }
}

.explode-meteorite {
  
    &::after {
        
        animation: fadeOut 0.2s both;
    }
    &::before {
        
        content: "";
        width: 30%;
        height: 30%;
        border-radius: 50px;
        position: absolute;
        background-color: white;
        box-shadow: 
        -38px 0px 1px -5px white, 
        38px 0px 1px -5px white, 
        0px 38px 1px -5px white, 
        0px -38px 1px -5px white, 
        28px -30px 1px -5px white,
        28px 30px 1px -5px white, 
        -28px -30px 1px -5px white, 
        -28px 30px 1px -5px white;
        z-index: 2;
        animation: explodeMeteor 0.6s both;
    }
}

.meteor {
    &-red {
        &::after {
            background-color: $red;
        }
    }
    &-yellow {
        &::after {
            background-color: $yellow;
        }
    }
    &-green {
        &::after {
            background-color: $green;
        }
    }
    &-blue {
        &::after {
            background-color: $blue;
        }
    }
}

 
#hud{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: darken($bg, 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}


.hud-life{
    height: 60%;
    min-width: 50px;
    background-color: $bg;
    position: absolute;
    left: 3%;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

    &::after{
        content: '\f004';
        font-family: "Font Awesome 5 Free";
        font-size: 1.1em;
        font-weight: 900;
        color: white;
        position: absolute;
        left: -23px;

    }
   
}

.hud-life-piece{
    height: 60%;
    width: 10px;
    border-radius: 2px;
    background-color: $neon-blue;
    margin: 3px;
}

.hud-color{
    height: 60%;
    width: 7%;
    background-color: $bg;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}


.red{background-color: $red;}
.yellow{background-color: $yellow;}
.green{background-color: $green;}
.blue{background-color: $blue;}

.hud-color-ball{
    width: 10px;
    height: 7px;
    border-radius: 20px;
    
}

.hud-color-ball--selected{
    width: 15px;
    height: 15px;
    animation: ballSelected 0.4s;
    // transition: all 0.2s;
}


.hud-score{
    height: 60%;
    min-width: 7%;
    background-color: $bg;
    position: absolute;
    right: 3%;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after{
        content: '\f091';
        font-family: "Font Awesome 5 Free";
        font-size: 1.2em;
        font-weight: 900;
        color: white;
        position: absolute;
        left: 105%;

    }
}

 
#ship {
    width: 80px;
    height: 120px;
    // border: 1px solid red;
    position: absolute;
    bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.damage{
    // filter: brightness(20);
    animation: damage 0.2s infinite alternate;
}
.ship-collision-area{

    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    border: 1px solid red;
}


.ship-body {
    height: 100%;
    width: 100%;
    background-color: $ship;
    clip-path: polygon(50% 0%, 100% 85%, 82% 100%, 18% 100%, 0 85%);
    // box-shadow: inset 45px 2px 0px -4px var(--ship-shadow);
    transition: all 0.4s;

    &::after{
        content: '';
        height: 100%;
        width: 50%;
        background-color: darken($ship, 10%);
        position: absolute;
        left: 0px;
        transition: all 0.4s;
    }
}

.ship-cockpit {
    height: 40%;
    width: 50%;
    position: absolute;
    bottom: 20%;
    background-color: darken($ship, 70%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: none;
    transition: all 0.4s;

    &::after {
        content: "";
        width: 70%;
        height: 80%;
        background-color: darken($ship, 60%);
        clip-path: polygon(50% 0%, 50% 100%, 100% 100%);
        position: absolute;
        transition: all 0.4s;
    }
}

.ship-R-wing {
    width: 80%;
    height: 40%;
    background-color: $ship;
    position: absolute;
    bottom: 5%;
    right: -65%;
    clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
    transition: all 0.4s;
    z-index: -1;
}

.ship-L-wing {
    width: 80%;
    height: 40%;
    background-color: darken($ship, 10%);
    position: absolute;
    bottom: 5%;
    left: -65%;
    clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
    transform: scaleX(-1);
    transition: all 0.4s;
    z-index: -1;
}

.ship-fire {
    height: 30%;
    width: 30%;
    background-color: $fire;
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    bottom: -30%;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
    animation: fire 0.1s infinite;
    transform-origin: top center;

    &::after {
        content: "";
        width: 50%;
        height: 60%;
        background-color: $yellow;
        position: absolute;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        transition: all 0.4s;
    }
}

.shoot {
    position: absolute;
    height: 60px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    align-self: flex-start;
    bottom: 25vh;
    left: 0;
    // animation: shoot 0.4s both;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: darken($ship, 5%);
        position: absolute;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: darken($ship, 5%);
        position: absolute;
        background-color: $ship;
        border-radius: 100%;
        filter: blur(10px);
    }
}

//------------- Vira para a esquerda --------------------------
.turn-L {
    &::after {
        content: "";
        height: 90%;
        width: 150%;
        position: absolute;
        right: -90%;
        background-color: $ship;
        background: linear-gradient(90deg, rgba($ship, 0.1) 0%, rgba($ship, 0) 100%);
        z-index: -2;
        transform-origin: center left;
        animation: speed 0.6s;
        transition: all 0.2s;
    }

    .ship-body {
        width: 95%;
        // box-shadow: inset 30px 2px 0px -4px var(--ship-shadow);
        clip-path: polygon(40% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        transition: all 0.4s;
        &::after{
            width: 35%;
            transition: all 0.4s;
        }
    }
    .ship-cockpit {
        width: 30%;
        margin-left: -40%;
        clip-path: polygon(60% 0%, 0% 100%, 100% 100%);
        transition: all 0.4s;

        &::after {
            clip-path: polygon(57% 0%, 31% 100%, 100% 100%);
            height: 85%;
            width: 100%;
        }
    }

    .ship-R-wing {
        width: 50%;
        height: 50%;
        background-color: #cacaca;
        right: -20%;
        transition: all 0.4s;
    }
    .ship-L-wing {
        width: 30%;
        height: 30%;
        bottom: 5%;
        left: -9%;
        clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
        transition: all 0.4s;
        background-color: darken($ship, 10%);
    }

    .ship-fire {
        height: 30%;
        width: 30%;
        bottom: -30%;
        margin-left: 10%;
        transition: all 0.4s;
    }
}

//-------------  Vira para a direita ====> ------------------------------------
.turn-R {
    &::after {
        content: "";
        height: 90%;
        width: 150%;
        position: absolute;
        left: -90%;
        background-color: $ship;
        background: linear-gradient(90deg, rgba($ship, 0) 0%, rgba($ship, 0.1) 100%);
        z-index: -2;
        transform-origin: center right;
        animation: speed 0.6s;
        transition: all 0.2s;
    }

    .ship-body {
        width: 95%;
        // box-shadow: inset 60px 2px 0px -4px darken($ship, 10%);
        clip-path: polygon(60% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        // clip-path: polygon(50% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        transition: all 0.4s;

        &::after{
            width: 70%;
            transition: all 0.4s;
        }
    }
    .ship-cockpit {
        width: 30%;
        margin-right: -50%;
        clip-path: polygon(35% 0%, 0% 100%, 100% 100%);
        transition: all 0.4s;

        &::after {
            clip-path: polygon(35% 0%, 50% 100%, 100% 100%);
            height: 85%;
            width: 100%;
        }
    }

    .ship-R-wing {
        width: 30%;
        height: 30%;
        bottom: 5%;
        right: -13%;
        clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
        transition: all 0.4s;
        background-color: $ship;
    }
    .ship-L-wing {
        width: 50%;
        height: 50%;
        background-color: #cacaca;
        left: -20%;
        transition: all 0.4s;
        background-color: darken($ship, 10%);
    }

    .ship-fire {
        height: 30%;
        width: 30%;
        bottom: -30%;
        margin-right: 10%;
        transition: all 0.4s;
    }
}
