@keyframes fire {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0.6);
    }
}

@keyframes speed {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes shoot {
    from {
        bottom: 25vh;
    }
    to {
        bottom: 105vh;
    }
}

@keyframes ballSelected {
    from {
        width: 10px;
        height: 7px;
    }
    to {
        width: 15px;
        height: 15px;
    }
}

@keyframes meteor {
    from {
        top: -10vh;
        transform: rotate(0deg);
    }
    to {
        top: 110vh;
        transform: rotate(360deg);
    }
}

@keyframes explodeMeteor {
    0% {
        width: 10%;
        height: 10%;
        transform: scale(0.1) translateY(0px);
        opacity: 1;
        box-shadow: 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white,
            0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white,
            0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white;
    }

    // 50%{
    //     opacity: 0.5;
    //     box-shadow:
    //     -38px 0px 1px -15px white,
    //     38px 0px 1px -15px white,
    //     0px 38px 1px -15px white,
    //     0px -38px 1px -15px white,
    //     28px -30px 1px -15px white,
    //     28px 30px 1px -15px white,
    //     -28px -30px 1px -15px white,
    //     -28px 30px 1px -15px white;
    // }
    80% {
        width: 40%;
        height: 40%;
        transform: scale(1.1) translateY(50px);
        opacity: 1;
        box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,
            0px -38px 1px -10px white, 28px -30px 1px -10px white, 28px 30px 1px -10px white,
            -30px -32px 1px -10px white, -30px 32px 1px -10px white, -18px 20px 1px -20px white,
            18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white;
    }

    100% {
        width: 10%;
        height: 10%;
        transform: scale(1.5);
        opacity: 0;
        box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,
            0px -38px 1px -10px white, 28px -30px 1px -10px white, 28px 30px 1px -10px white,
            -30px -32px 1px -10px white, -30px 32px 1px -10px white, -18px 20px 1px -20px white,
            18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(80px);
        clip-path: polygon(
            0% 16%,
            17% 0%,
            33% 6%,
            29% 13%,
            19% 20%,
            31% 32%,
            42% 24%,
            47% 16%,
            60% 19%,
            64% 27%,
            62% 39%,
            80% 29%,
            77% 11%,
            74% 6%,
            91% 0%,
            100% 11%,
            100% 26%,
            93% 36%,
            82% 28%,
            61% 40%,
            79% 54%,
            97% 56%,
            100% 61%,
            100% 76%,
            92% 94%,
            78% 95%,
            66% 82%,
            72% 66%,
            75% 51%,
            62% 41%,
            47% 75%,
            29% 66%,
            32% 48%,
            33% 39%,
            32% 32%,
            17% 46%,
            18% 69%,
            29% 84%,
            28% 99%,
            13% 98%,
            3% 89%,
            9% 79%,
            18% 65%,
            17% 47%,
            6% 41%,
            6% 33%,
            17% 29%,
            23% 24%,
            18% 21%
        );
    }
}

@keyframes damage {
    0% {
        opacity: 0.7;
        bottom: 15vh;
    }
    100% {
        opacity: 0.2;
        bottom: 14vh;
    }
}

@keyframes smoke {
    0% {
        box-shadow: 
        0px 0px 0 0px #383737,
        0px 0px 0 0px #383737, 
        0px 0px 0px 0px #383737,
        0px 0px 1px 0px #383737, 
        0px 0px 0 0px #383737;
    }

    70% {
        box-shadow: 
        6px 14px 0 -4px #1b1a1a, 
        -4px 21px 0 -5px #1b1a1a, 
        -4px 46px 0px -8px #1b1a1a,
        -2px 34px 1px -5px #1b1a1a, 
        1px 55px 0 -10px #1b1a1a;
    }
    100% {
        box-shadow: 
        7px 24px 0 -14px #1b1a1a, 
        -5px 31px 0 -10px #1b1a1a, 
        -5px 56px 0px -18px #1b1a1a,
        1px 44px 1px -10px #1b1a1a, 
        1px 65px 0 -20px #1b1a1a;
    }
}



@keyframes laserContainer {
    0%{top: -20vh;}
    100%{top: 110vh;}
}


@keyframes laser1{
    0%{
        clip-path: polygon(100% 19%, 66% 0, 85% 18%, 0 0, 69% 20%, 0 19%, 85% 26%, 53% 32%, 81% 35%, 20% 48%, 81% 41%, 0 67%, 85% 50%, 28% 74%, 85% 57%, 20% 100%, 81% 73%, 65% 100%, 90% 70%, 82% 100%, 92% 81%, 100% 100%);
    }
    100%{
        clip-path: polygon(100% 19%, 86% 0, 98% 26%, 61% 9%, 91% 29%, 57% 20%, 94% 35%, 71% 33%, 100% 43%, 67% 41%, 94% 47%, 78% 51%, 94% 58%, 71% 64%, 88% 64%, 68% 76%, 81% 73%, 65% 88%, 94% 68%, 80% 91%, 96% 76%, 100% 100%);
    }
}



@keyframes rotateLaser{
    0%{
        left: -50vw;
        transform: rotate(0deg);
    }
    100%{
        left: 150vw;
        transform: rotate(720deg);
    }
}


@keyframes appearsBoss{
    0%{top:-50vh;}
    100%{top:6vh;}
}

@keyframes turningLightsOn{
    0%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes laserOpen1{
    0%{height: 100%;}
    100%{height: 94vh;}
}
@keyframes laserOpen2{
    0%{width: 100%;}
    100%{width: 100vw;}
}

@keyframes laserMove1{
    0%{transform: translateX(0vw);}
    20%{transform: translateX(-50vw);}
    80%{transform: translateX(50vw);}
    100%{transform: translateX(0vw);}
}

@keyframes laserMove2{
    0%{transform: translateY(0vh);}
    10%{transform: translateY(-20vh);}
    60%{transform: translateY(80vh);}
    100%{transform: translateY(0vh);}
}

@keyframes rotateBossShield{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}






@keyframes brokenShield{
    0%{
        clip-path: polygon(0 100%, 0 0, 100% 0, 62% 39%, 70% 74%, 35% 67%);
        
    }
    99%{
        clip-path: polygon(0 100%, 0 54%, 31% 67%, 0% 32%, 1% 1%, 15% 10%, 0 31%, 23% 45%, 57% 54%, 20% 24%, 51% 15%, 34% 0, 77% 0%, 63% 22%, 49% 13%, 46% 33%, 54% 53%, 77% 58%, 90% 61%, 93% 82%, 82% 69%, 76% 84%, 60% 92%, 54% 83%, 76% 83%, 56% 50%, 29% 66%, 27% 84%, 13% 79%);
        height: 80px;
        width: 80px;
    }

}


@keyframes laserClose1{
    0%{
        height: 100%;
    }
    100%{
        height: 10%;
    }
}

@keyframes laserClose2{
    0%{
        width: 100%;
    }
    100%{
        width: 10%;
    }
}

@keyframes bossXplode1{
    0%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    80%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    100%{
        width: 700%;
        height: 700%;
        opacity: 0;
    }
}

@keyframes bossXplode2{
    0%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }

    100%{
        width: 300%;
        height: 30%;
        opacity: 0;
    }
}

@keyframes titleColor{
    0%{color: rgb(255, 71, 71);}
    30%{color: rgb(241, 217, 81);}
    60%{color: rgb(78, 235, 91);}
    100%{color: rgb(71, 187, 255)}
}


@keyframes altColor{
    0%{background-color: rgb(255, 71, 71);}
    30%{background-color: rgb(241, 217, 81);}
    60%{background-color: rgb(78, 235, 91);}
    100%{background-color: rgb(71, 187, 255)}
}


@keyframes shipFall{
    0%{
        width: 80px;
        height: 120px;
        opacity: 1;
       
}

    100%{
       
        width: 40px;
        height: 60px;
        opacity: 0;
    }
}
 
$bg: #2d2d47;
$ship: rgb(202, 202, 202);
$neon-blue: #18ffff;
$red: rgb(255, 71, 71);
$yellow: rgb(241, 217, 81);
$green: rgb(78, 235, 91);
$blue: rgb(71, 187, 255);
$fire: rgb(255, 175, 71);
$smoke: rgb(56, 55, 55);

:root {
    --ship-shadow: darken(rgb(202, 202, 202), 10%);
}

@mixin colorShip($main, $fireColor) {
    .ship-body {
        background-color: $main;
        &::after {
            background-color: darken($main, 10%);
        }
    }
    .ship-R-wing {
        background-color: $main !important;
    }
    .ship-L-wing {
        background-color: darken($main, 10%) !important;
    }
    .ship-fire {
        background-color: $fireColor;
        &::after {
            background-color: lighten($fireColor, 10%);
        }
    }

    .shoot{
        &::after{
            background-color: lighten($main, 5%);
        }
        &::before{
            background-color: lighten($main, 5%);
        }
    }
}

html[color="red"] {
    @include colorShip($red, #00DB36);
}
html[color="yellow"] {
    @include colorShip($yellow, #00A8DB);
}
html[color="blue"] {
    @include colorShip($blue, $fire);
}
html[color="green"] {
    @include colorShip($green, #FF1962);
    
}

 
.game-container {
    background-color: $bg;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
        &::after {
            content: "A tela está pequena demais para o funcionamento do jogo.";
            text-align: center;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: darkgray;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

.life-up {
    width: 20px;
    height: 50px;
    background-color: $neon-blue;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.555));
    animation: meteor 30s;

    &::after {
        content: "";
        width: 150%;
        height: 10px;
        background-color: darken($neon-blue, 50%);
        position: absolute;
        top: 0;
        box-shadow: 0px 40px 0 0 darken($neon-blue, 50%);
    }

    &::before {
        width: 15px;
        height: 15px;
        color: white;
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 6;
    display: none;
    align-items: center;
    justify-content: center;

    .dead {
        width: 40vw;
        height: 30vh;
        background-color: darken($red, 5%);
        position: fixed;
        top: 20vh;
        border-radius: 10px;
        z-index: 7;
        display: none;
        align-items: center;
        justify-content: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        flex-direction: column;

        h1 {
            color: white;
            font-size: 3em;
        }

        button {
            height: 50px;
            width: 150px;
            background-color: white;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 1em;
            font-weight: 700;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    .finish {
        width: 50vh;
        height: 45vh;
        background-color: darken($bg, 5%);
        position: fixed;
        top: 10vh;
        border-radius: 10px;
        z-index: 7;
        display: none;
        align-items: center;
        justify-content: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        flex-direction: column;

        a {
            color: white;
        }

        h1 {
            color: white;
            text-align: center;
            top: 0px;
            position: absolute;
            width: 100%;
            background-color: darken($bg, 10%);
            height: 20%;
            border-radius: 10px 10px 0px 0;
        }

        button {
            height: 50px;
            width: 150px;
            background-color: white;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 1em;
            font-weight: 700;
            margin-top: 10px;
            cursor: pointer;
        }

        .credits {
            width: 100%;
            color: darkgray;
            text-align: center;

            span {
                font-weight: 700;
            }
        }

        .social-links {
            position: absolute;
            bottom: 20px;

            .social-github {
                &::after {
                    content: "\f126";
                    font-family: "Font Awesome 5 Free";
                    font-size: 1.1em;
                    font-weight: 900;
                    color: white;
                    position: absolute;
                    left: -20px;
                }
            }
        }

        .highscore {
            width: 100%;
            background-color: darken($bg, 7%);
            text-align: center;
            margin-bottom: 10px;
            p {
                color: darkgray;
            }
            span {
                color: $neon-blue;
                font-size: 1.5em;
                font-weight: 700;
            }
        }
    }
}

.tela-inicial {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
        height: 40px;
        width: 80px;
        border-radius: 10px;
        background-color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    h1 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 4em;
        color: darkgray;

        span {
            animation: titleColor 5s alternate infinite;
        }
    }

    .version {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: darkgray;
    }

    a {
        color: white;
        position: absolute;

        bottom: 20px;
        &::after {
            content: "\f126";
            font-family: "Font Awesome 5 Free";
            font-size: 1.1em;
            font-weight: 900;
            color: white;
            position: absolute;
            left: -20px;
        }
    }
}

.tutorial {
    height: 55vh;
    width: 60vw;
    margin-top: 15px;
    background-color: darken($bg, 10%);
    border-radius: 10px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    position: absolute;
    display: none;

    .btn-close-tuto {
        position: absolute;
        width: 100px;
        height: 50px;
        bottom: -55px;
        border-radius: 10px;
        border: none;
        font-size: 1em;
        color: black;
        cursor: pointer;
        font-weight: 700;
    }

    h1 {
        text-align: center;
    }

    .tutorial-control {
        width: 50%;
        height: 100%;
        border-right: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10px 0 10px;

        .control-row {
            height: 33%;
            width: 100%;
            border-bottom: 1px solid $bg;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .tutorial-enemy {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10px 0 10px;

        .tuto-enemy-row {
            width: 100%;
            height: 50%;
            border-bottom: 1px solid $bg;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .metor-tuto {
            width: 80px;
            height: 80px;
            clip-path: polygon(46% 0, 88% 10%, 100% 39%, 96% 84%, 58% 99%, 15% 91%, 0 57%, 6% 19%);
            animation: altColor 5s alternate infinite;
        }

        .laser-tuto {
            width: 150px;
            height: 20px;
            animation: altColor 5s alternate infinite;
            display: flex;
            align-items: center;
            position: relative;
            margin: 20px 0 20px 0;

            .laser-fx {
                &:nth-child(1) {
                    left: 0;
                    transform: scaleX(-1);
                }
                &:nth-child(2) {
                    right: 0;
                }
            }

            &::after {
                content: "";
                width: 100%;
                height: 40%;
                background-color: white;
                position: absolute;
            }
        }
    }

    .btn-container {
        display: flex;

        .btn-tuto {
            width: 50px;
            height: 50px;
            // background-color: white;
            border: 2px solid rgb(129, 115, 155);
            font-size: 3em;
            border-radius: 5px;
            margin: 2px;
            color: rgb(129, 115, 155);
            display: flex;
            align-items: center;
            justify-content: center;
            animation: titleColor 5s alternate infinite;
        }
    }

    .btn-tuto-SPACE {
        width: 200px;
        height: 50px;
        color: rgb(129, 115, 155);
        border: 2px solid rgb(129, 115, 155);
        font-size: 1em;
        font-weight: 700;
        border-radius: 5px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

 
.boss-container {
    height: 40vh;
    width: 40vh;
    // border: 1px solid red;
    position: absolute;
    top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: rotate(135deg);
    animation: appearsBoss 10s both;

    .boss-center {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: darken($bg, 30%);
        z-index: 3;
    }

    .boss-lasers-container {
        width: 100%;
        height: 100%;
        // border: 1px solid green;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        @mixin bossLaser($angle) {
            width: 50px;
            height: 50px;
            background-color: darken($bg, 30%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            transform: rotate($angle);
            // #{side}: 0;
            position: absolute;
            z-index: 2;
            display: flex;
            justify-content: center;

            &::after {
                content: "";
                width: 55%;
                height: 5px;
                position: absolute;
                background-color: rgb(255, 255, 255);
                bottom: 0;
            }
        }

        .laser-move-1 {
            height: 94vh !important;
            animation: laserMove1 15s linear infinite !important;
        }

        .laser-move-2 {
            width: 100vw !important;
            animation: laserMove2 15s linear infinite !important;
        }

        .laser-open-1 {
            animation: laserOpen1 7s both;
        }

        .laser-open-2 {
            animation: laserOpen2 7s both;
        }

        .laser-row-1 {
            height: 100%;
            width: 50px;
            // border: 1px solid yellow;
            position: absolute;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            top: 0;

            .laser {
                height: 100%;
                width: 40%;
                justify-content: center;
                margin: 50px 0 50px 0;

                &::after {
                    height: 100%;
                    width: 40%;
                }

                .laser-fx{
                    &:nth-child(1){
                        height: 50px!important;
                        width: 150%!important;
                        top: -10px;
                        transform: rotate(-90deg); 
                    }
                    &:nth-child(2){
                        height: 50px!important;
                        width: 150%!important;
                        bottom: -10px;
                        transform: rotate(90deg); 
                    }
                }
            }

            .laser-box {
                &:nth-child(1) {
                    @include bossLaser(0deg);
                    top: 0;
                }
                &:nth-child(2) {
                    @include bossLaser(180deg);
                    bottom: 0;
                }
            }
        }

        .laser-row-2 {
            width: 100%;
            height: 50px;
            // border: 1px solid yellow;
            position: absolute;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .laser {
                width: 100%;
                margin: 0 50px 0 50px;

                
                .laser-fx{
                    &:nth-child(1){

                        left: 0px;
                        transform: rotate(180deg); 
                    }
                    &:nth-child(2){

                        right: 0px;

                    }
                }
            }

            .laser-box {
                &:nth-child(1) {
                    @include bossLaser(-90deg);
                    left: 0;
                }
                &:nth-child(2) {
                    @include bossLaser(90deg);
                    right: 0;
                }
            }
        }
    }

    .no-lights {
        .boss-shield {
            &-red {
                &::after {
                    background-color: rgb(14, 15, 48) !important;
                }
            }

            &-yellow {
                &::after {
                    background-color: rgb(14, 15, 48) !important;
                }
            }

            &-green {
                &::after {
                    background-color: rgb(14, 15, 48) !important;
                }
            }

            &-blue {
                &::after {
                    background-color: rgb(14, 15, 48) !important;
                }
            }
        }
    }

    .boss-shield-container {
        width: 55%;
        height: 55%;
        // border: 1px solid rgb(0, 140, 255);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        // animation: rotateBossShield 15s ease-in infinite;

        @mixin bossShield($color) {
            width: 60px;
            height: 60px;
            background-color: darken($bg, 30%);
            position: absolute;
            clip-path: polygon(0 100%, 0 0, 100% 0, 62% 39%, 70% 74%, 35% 67%);

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $color;
                top: 0;
                clip-path: polygon(0 0, 0 70%, 70% 0);
                animation: turningLightsOn 0.4s both;
                animation-delay: 10s;
            }
        }

        .boss-shield {
            &-red {
                @include bossShield($red);
                top: 0;
                left: 0;
            }

            &-yellow {
                @include bossShield($yellow);
                top: 0;
                right: 0;
                transform: rotate(90deg);
            }

            &-green {
                @include bossShield($green);
                bottom: 0;
                left: 0;
                transform: rotate(-90deg);
            }

            &-blue {
                @include bossShield($blue);
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}

.boss-damage {
    background-color: white !important;

    &::after {
        background-color: white !important;
    }
}

.shield-broken {
    animation: brokenShield 0.4s both;
}

.boss-destroyed {
    .boss-center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        &::after {
            content: '';
            height: 0%;
            width: 0%;
            border-radius: 500px;
            background-color: white;
            position: absolute;
            animation: bossXplode1 2s ease-out both;
            animation-delay: 3s;
        }

        &::before {
            content: '';
            height: 0%;
            width: 0%;
            border-radius: 500px;
            background-color: white;
            position: absolute;
            animation: bossXplode2 1s linear both;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            animation-delay: 2.7s;
        }
    }
    

        

    .laser-row-1 {
        animation: laserClose1 1s both;
        animation-delay: 2s;
        transition: all 1s !important;
        top: auto !important;

        }

    
    .laser-row-2 {
        animation: laserClose2 1s both;
        animation-delay: 2s;
        transition: all 1s !important;
    }
}

 
.meteorite {
    width: 50px;
    height: 50px;
    top: 10vh;
    animation: meteor 12s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        clip-path: polygon(46% 0, 88% 10%, 100% 39%, 96% 84%, 58% 99%, 15% 91%, 0 57%, 6% 19%);
        // justify-self: center;
    }
}

.explode-meteorite {
    &::after {
        animation: fadeOut 0.2s both;
    }
    &::before {
        content: "";
        width: 30%;
        height: 30%;
        border-radius: 50px;
        position: absolute;
        background-color: white;
        box-shadow: -38px 0px 1px -5px white, 38px 0px 1px -5px white, 0px 38px 1px -5px white, 0px -38px 1px -5px white,
            28px -30px 1px -5px white, 28px 30px 1px -5px white, -28px -30px 1px -5px white, -28px 30px 1px -5px white;
        z-index: 2;
        animation: explodeMeteor 0.6s both;
    }
}

.meteor {
    &-red {
        &::after {
            background-color: $red;
        }
    }
    &-yellow {
        &::after {
            background-color: $yellow;
        }
    }
    &-green {
        &::after {
            background-color: $green;
        }
    }
    &-blue {
        &::after {
            background-color: $blue;
        }
    }
}

.laser-container {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    animation: laserContainer 10s linear both;
}

.obstacle-70 {
    width: 70%;
    height: 100%;
    background-color: darken($bg, 30%);
    clip-path: polygon(
        100% 100%,
        89% 100%,
        85% 90%,
        80% 91%,
        79% 100%,
        69% 100%,
        68% 90%,
        54% 90%,
        53% 100%,
        39% 100%,
        37% 90%,
        24% 91%,
        23% 100%,
        8% 100%,
        7% 90%,
        0 90%,
        0% 18%,
        9% 17%,
        9% 1%,
        26% 0%,
        30% 17%,
        44% 16%,
        45% 0%,
        66% 0%,
        70% 18%,
        79% 17%,
        84% 0%,
        92% 0,
        97% 20%,
        100% 20%
    );
    position: relative;
}
.obstacle-30-R {
    width: 35%;
    height: 100%;
    background-color: darken($bg, 30%);
    clip-path: polygon(
        100% 100%,
        89% 100%,
        85% 90%,
        80% 91%,
        79% 100%,
        69% 100%,
        68% 90%,
        54% 90%,
        53% 100%,
        39% 100%,
        37% 90%,
        24% 91%,
        23% 100%,
        8% 100%,
        7% 90%,
        0 90%,
        0% 18%,
        9% 17%,
        9% 1%,
        26% 0%,
        30% 17%,
        44% 16%,
        45% 0%,
        66% 0%,
        70% 18%,
        79% 17%,
        84% 0%,
        92% 0,
        97% 20%,
        100% 20%
    );
    position: relative;
}

.obstacle-30-L {
    width: 35%;
    height: 100%;
    background-color: darken($bg, 30%);
    clip-path: polygon(
        100% 100%,
        89% 100%,
        85% 90%,
        80% 91%,
        79% 100%,
        69% 100%,
        68% 90%,
        54% 90%,
        53% 100%,
        39% 100%,
        37% 90%,
        24% 91%,
        23% 100%,
        8% 100%,
        7% 90%,
        0 90%,
        0% 18%,
        9% 17%,
        9% 1%,
        26% 0%,
        30% 17%,
        44% 16%,
        45% 0%,
        66% 0%,
        70% 18%,
        79% 17%,
        84% 0%,
        92% 0,
        97% 20%,
        100% 20%
    );
    position: relative;
    transform: scaleX(-1);
}

.laser {
    width: 30%;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 30%;
        background-color: white;
        position: absolute;
    }

    &::before {
        content: "";
        width: 100%;
        height: 80%;
        background-color: white;
        filter: blur(10px);
        z-index: -1;
        position: absolute;
    }
}

.laser-fx {
    height: 200%;
    width: 30px;
    background-color: white;
    position: absolute;
    clip-path: polygon(
        100% 19%,
        66% 0,
        85% 18%,
        0 0,
        69% 20%,
        0 19%,
        85% 26%,
        53% 32%,
        81% 35%,
        20% 48%,
        81% 41%,
        0 67%,
        85% 50%,
        28% 74%,
        85% 57%,
        20% 100%,
        81% 73%,
        65% 100%,
        90% 70%,
        82% 100%,
        92% 81%,
        100% 100%
    );
    animation: laser1 0.1s infinite;
}

.rotate-laser-container {
    width: 40%;
    height: 50px;
    position: absolute;
    bottom: 30%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: rotateLaser 25s linear infinite;
    transform-origin: center center;

    .laser {
        width: 90%;


        .laser-fx{
            &:nth-child(1){

                left: 0px;
                transform: rotate(180deg); 
            }
            &:nth-child(2){

                right: 0px;

            }
        }
    }
}

@mixin rotateLaser {
    height: 100%;
    width: 5%;
    background-color: darken($bg, 30%);
    position: absolute;

    &::after {
        content: "";
        width: 100%;
        height: 50%;
        background-color: darken($bg, 30%);
        position: absolute;
        top: -50%;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
}

.rotate-laser-L {
    @include rotateLaser();
    left: 0;
}

.rotate-laser-R {
    @include rotateLaser();
    right: 0;
    transform: scaleY(-1);
}

 
#hud{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: darken($bg, 15%);
    // display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    display: none;
}


.hud-life{
    height: 60%;
    min-width: 50px;
    background-color: $bg;
    position: absolute;
    left: 3%;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

    &::after{
        content: '\f004';
        font-family: "Font Awesome 5 Free";
        font-size: 1.1em;
        font-weight: 900;
        color: white;
        position: absolute;
        left: -23px;

    }
   
}

.hud-life-piece{
    height: 60%;
    width: 10px;
    border-radius: 2px;
    background-color: $neon-blue;
    margin: 3px;
}

.hud-color{
    height: 60%;
    width: 7%;
    background-color: $bg;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}


.red{background-color: $red;}
.yellow{background-color: $yellow;}
.green{background-color: $green;}
.blue{background-color: $blue;}

.hud-color-ball{
    width: 10px;
    height: 7px;
    border-radius: 20px;
    
}

.hud-color-ball--selected{
    width: 15px;
    height: 15px;
    animation: ballSelected 0.4s;
    // transition: all 0.2s;
}


.hud-score{
    height: 60%;
    min-width: 7%;
    background-color: $bg;
    position: absolute;
    right: 3%;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after{
        content: '\f091';
        font-family: "Font Awesome 5 Free";
        font-size: 1.2em;
        font-weight: 900;
        color: white;
        position: absolute;
        left: 105%;

    }
}

 
#ship {
    width: 80px;
    height: 120px;
    // border: 1px solid red;
    position: absolute;
    bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.damage{
    // filter: brightness(20);
    animation: damage 0.2s infinite alternate;
}
.ship-collision-area{

    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    border: 1px solid red;
}


.ship-body {
    height: 100%;
    width: 100%;
    background-color: $ship;
    clip-path: polygon(50% 0%, 100% 85%, 82% 100%, 18% 100%, 0 85%);
    // box-shadow: inset 45px 2px 0px -4px var(--ship-shadow);
    transition: all 0.4s;

    &::after{
        content: '';
        height: 100%;
        width: 50%;
        background-color: darken($ship, 10%);
        position: absolute;
        left: 0px;
        transition: all 0.4s;
    }
}

.ship-cockpit {
    height: 40%;
    width: 50%;
    position: absolute;
    bottom: 20%;
    background-color: darken($ship, 70%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: none;
    transition: all 0.4s;

    &::after {
        content: "";
        width: 70%;
        height: 80%;
        background-color: darken($ship, 60%);
        clip-path: polygon(50% 0%, 50% 100%, 100% 100%);
        position: absolute;
        transition: all 0.4s;
    }
}

.ship-R-wing {
    width: 80%;
    height: 40%;
    background-color: $ship;
    position: absolute;
    bottom: 5%;
    right: -65%;
    clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
    transition: all 0.4s;
    z-index: -1;
}

.ship-L-wing {
    width: 80%;
    height: 40%;
    background-color: darken($ship, 10%);
    position: absolute;
    bottom: 5%;
    left: -65%;
    clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
    transform: scaleX(-1);
    transition: all 0.4s;
    z-index: -1;
}

.ship-fire {
    height: 30%;
    width: 30%;
    background-color: $fire;
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    bottom: -30%;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
    animation: fire 0.1s infinite;
    transform-origin: top center;

    &::after {
        content: "";
        width: 50%;
        height: 60%;
        background-color: $yellow;
        position: absolute;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        transition: all 0.4s;
    }
}

.shoot {
    position: absolute;
    height: 60px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    align-self: flex-start;
    bottom: 25vh;
    left: 0;
    // animation: shoot 0.4s both;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: darken($ship, 5%);
        position: absolute;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: darken($ship, 5%);
        position: absolute;
        background-color: $ship;
        border-radius: 100%;
        filter: blur(10px);
    }
}

//------------- Vira para a esquerda --------------------------
.turn-L {
    &::after {
        content: "";
        height: 90%;
        width: 150%;
        position: absolute;
        right: -90%;
        background-color: $ship;
        background: linear-gradient(90deg, rgba($ship, 0.1) 0%, rgba($ship, 0) 100%);
        z-index: -2;
        transform-origin: center left;
        animation: speed 0.6s;
        transition: all 0.2s;
    }

    .ship-body {
        width: 95%;
        // box-shadow: inset 30px 2px 0px -4px var(--ship-shadow);
        clip-path: polygon(40% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        transition: all 0.4s;
        &::after{
            width: 35%;
            transition: all 0.4s;
        }
    }
    .ship-cockpit {
        width: 30%;
        margin-left: -40%;
        clip-path: polygon(60% 0%, 0% 100%, 100% 100%);
        transition: all 0.4s;

        &::after {
            clip-path: polygon(57% 0%, 31% 100%, 100% 100%);
            height: 85%;
            width: 100%;
        }
    }

    .ship-R-wing {
        width: 50%;
        height: 50%;
        background-color: #cacaca;
        right: -20%;
        transition: all 0.4s;
    }
    .ship-L-wing {
        width: 30%;
        height: 30%;
        bottom: 5%;
        left: -9%;
        clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
        transition: all 0.4s;
        background-color: darken($ship, 10%);
    }

    .ship-fire {
        height: 30%;
        width: 30%;
        bottom: -30%;
        margin-left: 10%;
        transition: all 0.4s;
    }
}

//-------------  Vira para a direita ====> ------------------------------------
.turn-R {
    &::after {
        content: "";
        height: 90%;
        width: 150%;
        position: absolute;
        left: -90%;
        background-color: $ship;
        background: linear-gradient(90deg, rgba($ship, 0) 0%, rgba($ship, 0.1) 100%);
        z-index: -2;
        transform-origin: center right;
        animation: speed 0.6s;
        transition: all 0.2s;
    }

    .ship-body {
        width: 95%;
        // box-shadow: inset 60px 2px 0px -4px darken($ship, 10%);
        clip-path: polygon(60% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        // clip-path: polygon(50% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
        transition: all 0.4s;

        &::after{
            width: 70%;
            transition: all 0.4s;
        }
    }
    .ship-cockpit {
        width: 30%;
        margin-right: -50%;
        clip-path: polygon(35% 0%, 0% 100%, 100% 100%);
        transition: all 0.4s;

        &::after {
            clip-path: polygon(35% 0%, 50% 100%, 100% 100%);
            height: 85%;
            width: 100%;
        }
    }

    .ship-R-wing {
        width: 30%;
        height: 30%;
        bottom: 5%;
        right: -13%;
        clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
        transition: all 0.4s;
        background-color: $ship;
    }
    .ship-L-wing {
        width: 50%;
        height: 50%;
        background-color: #cacaca;
        left: -20%;
        transition: all 0.4s;
        background-color: darken($ship, 10%);
    }

    .ship-fire {
        height: 30%;
        width: 30%;
        bottom: -30%;
        margin-right: 10%;
        transition: all 0.4s;
    }
}




.danger{
    width: 30px;
    height: 30px;
    background-color: #1b1a1a;
    border-radius: 30px;
    z-index: -1;
    left: 10px;
    bottom: 0px;
   position: absolute;
    // box-shadow: 14px ​19px 0 -6px $smoke;
    box-shadow: 
    7px 14px 0 -4px #383737, 
    -5px 21px 0 -5px #383737, 
    -5px 46px 0px -8px #383737, 
    1px 34px 1px -5px #383737, 
    1px 55px 0 -10px #383737;


    animation: smoke 0.3s infinite linear;
}



.ship-dead{
    animation: shipFall 1s both;
}