@keyframes fire {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0.6); } }
@keyframes speed {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
@keyframes shoot {
  from {
    bottom: 25vh; }
  to {
    bottom: 105vh; } }
@keyframes ballSelected {
  from {
    width: 10px;
    height: 7px; }
  to {
    width: 15px;
    height: 15px; } }
@keyframes meteor {
  from {
    top: -10vh;
    transform: rotate(0deg); }
  to {
    top: 110vh;
    transform: rotate(360deg); } }
@keyframes explodeMeteor {
  0% {
    width: 10%;
    height: 10%;
    transform: scale(0.1) translateY(0px);
    opacity: 1;
    box-shadow: 0px 0px 1px 20px white, 0px 0px 1px 20px white,  0px 0px 1px 20px white,  0px 0px 1px 20px white,  0px 0px 1px 20px white, 0px 0px 1px 20px white,  0px 0px 1px 20px white,  0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white, 0px 0px 1px 20px white; }
  80% {
    width: 40%;
    height: 40%;
    transform: scale(1.1) translateY(50px);
    opacity: 1;
    box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,  0px -38px 1px -10px white,  28px -30px 1px -10px white, 28px 30px 1px -10px white,  -30px -32px 1px -10px white,  -30px 32px 1px -10px white, -18px 20px 1px -20px white, 18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white; }
  100% {
    width: 10%;
    height: 10%;
    transform: scale(1.5);
    opacity: 0;
    box-shadow: -38px 0px 1px -10px white, 38px 0px 1px -10px white, 0px 38px 1px -10px white,  0px -38px 1px -10px white,  28px -30px 1px -10px white, 28px 30px 1px -10px white,  -30px -32px 1px -10px white,  -30px 32px 1px -10px white, -18px 20px 1px -20px white, 18px -20px 1px -17px white, -18px -20px 1px -20px white, 18px 20px 1px -17px white; } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(80px); } }
@keyframes damage {
  0% {
    opacity: 1;
    bottom: 15vh; }
  100% {
    opacity: 0.3;
    bottom: 14vh; } }
:root {
  --ship-shadow: darken(rgb(202, 202, 202), 10%); }

html[color="red"] .ship-body {
  background-color: #ff4747; }
  html[color="red"] .ship-body::after {
    background-color: #ff1414; }
html[color="red"] .ship-R-wing {
  background-color: #ff4747 !important; }
html[color="red"] .ship-L-wing {
  background-color: #ff1414 !important; }
html[color="red"] .ship-fire {
  background-color: #00DB36; }
  html[color="red"] .ship-fire::after {
    background-color: #0fff4a; }
html[color="red"] .shoot::after {
  background-color: #ff6161; }
html[color="red"] .shoot::before {
  background-color: #ff6161; }

html[color="yellow"] .ship-body {
  background-color: #f1d951; }
  html[color="yellow"] .ship-body::after {
    background-color: #edcf22; }
html[color="yellow"] .ship-R-wing {
  background-color: #f1d951 !important; }
html[color="yellow"] .ship-L-wing {
  background-color: #edcf22 !important; }
html[color="yellow"] .ship-fire {
  background-color: #00A8DB; }
  html[color="yellow"] .ship-fire::after {
    background-color: #0fc7ff; }
html[color="yellow"] .shoot::after {
  background-color: #f3de69; }
html[color="yellow"] .shoot::before {
  background-color: #f3de69; }

html[color="blue"] .ship-body {
  background-color: #47bbff; }
  html[color="blue"] .ship-body::after {
    background-color: #14a8ff; }
html[color="blue"] .ship-R-wing {
  background-color: #47bbff !important; }
html[color="blue"] .ship-L-wing {
  background-color: #14a8ff !important; }
html[color="blue"] .ship-fire {
  background-color: #ffaf47; }
  html[color="blue"] .ship-fire::after {
    background-color: #ffc57a; }
html[color="blue"] .shoot::after {
  background-color: #61c4ff; }
html[color="blue"] .shoot::before {
  background-color: #61c4ff; }

html[color="green"] .ship-body {
  background-color: #4eeb5b; }
  html[color="green"] .ship-body::after {
    background-color: #20e631; }
html[color="green"] .ship-R-wing {
  background-color: #4eeb5b !important; }
html[color="green"] .ship-L-wing {
  background-color: #20e631 !important; }
html[color="green"] .ship-fire {
  background-color: #FF1962; }
  html[color="green"] .ship-fire::after {
    background-color: #ff4c85; }
html[color="green"] .shoot::after {
  background-color: #65ee70; }
html[color="green"] .shoot::before {
  background-color: #65ee70; }

.game-container {
  background-color: #2d2d47;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  overflow: hidden;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

.meteorite {
  width: 50px;
  height: 50px;
  top: 10vh;
  animation: meteor 10s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }
  .meteorite::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(46% 0, 88% 10%, 100% 39%, 96% 84%, 58% 99%, 15% 91%, 0 57%, 6% 19%); }

.explode-meteorite::after {
  animation: fadeOut 0.2s both; }
.explode-meteorite::before {
  content: "";
  width: 30%;
  height: 30%;
  border-radius: 50px;
  position: absolute;
  background-color: white;
  box-shadow: -38px 0px 1px -5px white, 38px 0px 1px -5px white,  0px 38px 1px -5px white,  0px -38px 1px -5px white,  28px -30px 1px -5px white, 28px 30px 1px -5px white,  -28px -30px 1px -5px white,  -28px 30px 1px -5px white;
  z-index: 2;
  animation: explodeMeteor 0.6s both; }

.meteor-red::after {
  background-color: #ff4747; }
.meteor-yellow::after {
  background-color: #f1d951; }
.meteor-green::after {
  background-color: #4eeb5b; }
.meteor-blue::after {
  background-color: #47bbff; }

#hud {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #0f0f18;
  display: flex;
  align-items: center;
  justify-content: center; }

.hud-life {
  height: 60%;
  min-width: 50px;
  background-color: #2d2d47;
  position: absolute;
  left: 3%;
  padding: 0 2px 0 2px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center; }
  .hud-life::after {
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-size: 1.1em;
    font-weight: 900;
    color: white;
    position: absolute;
    left: -23px; }

.hud-life-piece {
  height: 70%;
  width: 10px;
  border-radius: 2px;
  background-color: #18ffff;
  margin: 3px; }

.hud-color {
  height: 60%;
  width: 7%;
  background-color: #2d2d47;
  position: absolute;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.red {
  background-color: #ff4747; }

.yellow {
  background-color: #f1d951; }

.green {
  background-color: #4eeb5b; }

.blue {
  background-color: #47bbff; }

.hud-color-ball {
  width: 10px;
  height: 7px;
  border-radius: 20px; }

.hud-color-ball--selected {
  width: 15px;
  height: 15px; }

.hud-score {
  height: 60%;
  min-width: 7%;
  background-color: #2d2d47;
  position: absolute;
  right: 3%;
  border-radius: 5px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hud-score::after {
    content: '\f091';
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    position: absolute;
    left: 105%; }

#ship {
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.damage {
  animation: damage 0.2s infinite alternate; }

.ship-collision-area {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 1px solid red; }

.ship-body {
  height: 100%;
  width: 100%;
  background-color: #cacaca;
  clip-path: polygon(50% 0%, 100% 85%, 82% 100%, 18% 100%, 0 85%);
  transition: all 0.4s; }
  .ship-body::after {
    content: '';
    height: 100%;
    width: 50%;
    background-color: #b1b1b1;
    position: absolute;
    left: 0px;
    transition: all 0.4s; }

.ship-cockpit {
  height: 40%;
  width: 50%;
  position: absolute;
  bottom: 20%;
  background-color: #181818;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: none;
  transition: all 0.4s; }
  .ship-cockpit::after {
    content: "";
    width: 70%;
    height: 80%;
    background-color: #313131;
    clip-path: polygon(50% 0%, 50% 100%, 100% 100%);
    position: absolute;
    transition: all 0.4s; }

.ship-R-wing {
  width: 80%;
  height: 40%;
  background-color: #cacaca;
  position: absolute;
  bottom: 5%;
  right: -65%;
  clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
  transition: all 0.4s;
  z-index: -1; }

.ship-L-wing {
  width: 80%;
  height: 40%;
  background-color: #b1b1b1;
  position: absolute;
  bottom: 5%;
  left: -65%;
  clip-path: polygon(-20% 0, 12% 100%, 100% 100%);
  transform: scaleX(-1);
  transition: all 0.4s;
  z-index: -1; }

.ship-fire {
  height: 30%;
  width: 30%;
  background-color: #ffaf47;
  position: absolute;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  bottom: -30%;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  animation: fire 0.1s infinite;
  transform-origin: top center; }
  .ship-fire::after {
    content: "";
    width: 50%;
    height: 60%;
    background-color: #f1d951;
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transition: all 0.4s; }

.shoot {
  position: absolute;
  height: 60px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  align-self: flex-start;
  bottom: 25vh;
  left: 0; }
  .shoot::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .shoot::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    position: absolute;
    background-color: #cacaca;
    border-radius: 100%;
    filter: blur(10px); }

.turn-L::after {
  content: "";
  height: 90%;
  width: 150%;
  position: absolute;
  right: -90%;
  background-color: #cacaca;
  background: linear-gradient(90deg, rgba(202, 202, 202, 0.1) 0%, rgba(202, 202, 202, 0) 100%);
  z-index: -2;
  transform-origin: center left;
  animation: speed 0.6s;
  transition: all 0.2s; }
.turn-L .ship-body {
  width: 95%;
  clip-path: polygon(40% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
  transition: all 0.4s; }
  .turn-L .ship-body::after {
    width: 35%;
    transition: all 0.4s; }
.turn-L .ship-cockpit {
  width: 30%;
  margin-left: -40%;
  clip-path: polygon(60% 0%, 0% 100%, 100% 100%);
  transition: all 0.4s; }
  .turn-L .ship-cockpit::after {
    clip-path: polygon(57% 0%, 31% 100%, 100% 100%);
    height: 85%;
    width: 100%; }
.turn-L .ship-R-wing {
  width: 50%;
  height: 50%;
  background-color: #cacaca;
  right: -20%;
  transition: all 0.4s; }
.turn-L .ship-L-wing {
  width: 30%;
  height: 30%;
  bottom: 5%;
  left: -9%;
  clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
  transition: all 0.4s;
  background-color: #b1b1b1; }
.turn-L .ship-fire {
  height: 30%;
  width: 30%;
  bottom: -30%;
  margin-left: 10%;
  transition: all 0.4s; }

.turn-R::after {
  content: "";
  height: 90%;
  width: 150%;
  position: absolute;
  left: -90%;
  background-color: #cacaca;
  background: linear-gradient(90deg, rgba(202, 202, 202, 0) 0%, rgba(202, 202, 202, 0.1) 100%);
  z-index: -2;
  transform-origin: center right;
  animation: speed 0.6s;
  transition: all 0.2s; }
.turn-R .ship-body {
  width: 95%;
  clip-path: polygon(60% 0%, 100% 85%, 76% 100%, 35% 115%, 10% 80%);
  transition: all 0.4s; }
  .turn-R .ship-body::after {
    width: 70%;
    transition: all 0.4s; }
.turn-R .ship-cockpit {
  width: 30%;
  margin-right: -50%;
  clip-path: polygon(35% 0%, 0% 100%, 100% 100%);
  transition: all 0.4s; }
  .turn-R .ship-cockpit::after {
    clip-path: polygon(35% 0%, 50% 100%, 100% 100%);
    height: 85%;
    width: 100%; }
.turn-R .ship-R-wing {
  width: 30%;
  height: 30%;
  bottom: 5%;
  right: -13%;
  clip-path: polygon(-21% 0, 2% 100%, 88% 100%);
  transition: all 0.4s;
  background-color: #cacaca; }
.turn-R .ship-L-wing {
  width: 50%;
  height: 50%;
  background-color: #cacaca;
  left: -20%;
  transition: all 0.4s;
  background-color: #b1b1b1; }
.turn-R .ship-fire {
  height: 30%;
  width: 30%;
  bottom: -30%;
  margin-right: 10%;
  transition: all 0.4s; }

/*# sourceMappingURL=main.css.map */
